extends layout/layout

block append headTitle
  title 链接页面


block content
  section
     ul
        li
           a(href='/template/memberCenter/home.html') 会员中心
           br
           a(href='/template/sign/sign.html') 每日签到


















